body {
    margin:0px;
}
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


  /* Header style */

.header {
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    margin-left:25px;
    background-position: top left, bottom right;
}


/* nav style */

nav  {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

/* Shared style */
.secondary-bg {
    background-color:#f9f0e9;
}
.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}



.btn-primary {
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    
}

.section-title {
    font-size:35px;
    font-weight: bold;
    color: #474747;
}


.section-description {
    color: #474747;
    font-size: 18px;

}


.text-center {
    text-align: center;
}





.nav-title {
    font-weight: 800;
    font-size:30px;
}

nav ul li {
    list-style: none;
    margin-left: 51px;

}

nav ul li a {
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
}


/* banner styles */


.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;

    
}

.banner-content {
    max-width:450px;
    
}



.banner-greetings {
    font-size: 40px;
    font-weight: 600;
}

.banner-title {
    font-size: 70px;
    font-weight: bold;
}

.banner-profile-img {
    
    width:580px;
}


/* main style */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* About Style */
main section {
    margin:130px 0px;
}

.about {
    border-radius:10px;
    padding: 130px 150px;
    text-align: center;
    
}

.about-items {
    display: flex;
    justify-content: space-around;
    
}

.item-description {
    font-weight: bold;
    font-size: 20px;
}

/* skill section */


.skill-container {
    display: flex;
    gap:40px;
    margin-bottom: 130px;
    
}

.skills {
    text-align: center;
}

.skills .section-description {
    margin:0px 100px;
}



.skill {
    padding:30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(19, 18, 18, 0.07);
}



/* resume-container style */

.resume-container {
    display: flex;
    justify-content: space-around;
    gap:25px;
}

.experience-description {
    line-height: 25px;
}
.experience-description , .experience-sub-title {
    color:#757575;
}
 .experience {
    width:500px;
 }
.experience h4,h5 {
    margin:10px 0px;
}

.experience h5 {
    margin-bottom: 15px;
}


.resume hr {
    margin: 25px 0px;
}

.resume-button-cv {
    margin : 50px 0px;
}

/* footer-area */

footer {
    display: flex;
    padding: 100px 150px;
    gap: 100px;
    
}


.footer-column {
    width:50%;
}

footer input[type="text"] ,input[type="email"] ,textarea {
    height:50px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 5px 15px;
    margin-bottom: 20px;
    border:none;
   
}

textarea {
    height:150px;
}

.banner i {
    margin-right:5px;
}

.banner button {
    margin-right:10px;
}